body{
    margin: 0;
    background-color:darkgreen;
    width: 100%;
    height: fit-content;
   /* background-image: url(corinne-kutz-MDsV2WANO8c-unsplash.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    width: 100%;
    height: fit-content;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.navbar >.left{
    display: flex;
    justify-content: space-between;

}
.navbar > .left >.link{
   padding-right: 20px;
}
.link a{
    text-decoration: none;
    color:grey;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid transparent;
}
.link a:hover{
    text-decoration: none;
    color:black;
    font-weight: 400;
    border-bottom: 1px solid grey;
    transition: 1s;
}
.brand{
    letter-spacing: 3px;
    font-family: fantasy;
    color: goldenrod;
    transform-style: preserve-3d;
}

/*contents*/
.contents{
   /* display: grid;
    grid-template-rows: 1fr 1fr;*/
    width: 100%;
}
.content1{

    padding-top: 20px;
    display: grid;
    grid-template-rows:1fr 1fr ;
    align-items: center;
    width: 95%;
    position: relative;
    left: 2.5%;
    height: fit-content;
}
.works{
    border-radius:5px;
    height: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    background-color:blueviolet;
    /background-image: url(markus-spiske-v1_bTNvvxm8-unsplash.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.works > img{
    width: 30%;
    height:30%;
}
.socialmedia{
    border-radius:5px;
    position: relative;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:seagreen;
    /background-image: url(emma-dau-ZdgwIJ9d6WM-unsplash.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: darkgoldenrod;
    margin-bottom:5%;
}
.socialmedia #all{
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
    
}


.content2{
    display: flex;
    justify-content: center;

}
.content2 >.clock{
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0,0,0, 0.3),
                inset 0 15px 15px rgba(0,0,0, 0.3);

}
.clock::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(109, 108, 108);
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour ,
.clock .min ,
.clock .sec{
    position: absolute;
}
.clock .hour ,.hr{
    width: 160px;
    height: 160px;
}
.clock .min ,.mn{
    width: 190px;
    height: 190px;
}
.clock .sec ,.sc{
    width: 230px;
    height: 230px;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;background: goldenrod;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100px;background: black;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;background: gray;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
